:root {
  /* Global variables to be defined here */
  /* --color-white: #ffffff; */
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

.inputBox {
  /* margin: 25px; */
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;

}

.chat-container {
  /* border: 1px solid #ddd; */
  padding: 10px;
  margin-bottom: 20px;
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

.message {
  background-color: #f9f9f9;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 4px;
  display: flex;
  /* justify-content: space-between; */
  align-items: flex-end;
  width: fit-content;
  border-radius: 13px;
}

input:focus {
  outline: none;
}

@media (max-width : 1400px) {
  .chat-container {
    max-width: 1400px;
  }
}

@media (min-width : 1400px) {
  .chat-container {
    max-width: 1400px;
  }
}